.featred-item {
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.7),
      rgba(21, 21, 21, 0.7)
    ),
    url("../../../assets/home/featured.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}